* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

h1 {
	font-weight: 600;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
	color: #bfbfbf;
	transition: all 0.5s ease-in-out;
}

a:hover {
	color: white;
	transition: color 0.5s ease-in-out,
				background-color 0.5s ease-in-out,
				border-color 0.5s ease-in-out,
				box-shadow 0.5s ease-in-out;
}

.btn {
	color: white;
	font-weight: 500;
	transition: color 0.5s ease-in-out,
	background-color 0.5s ease-in-out,
	border-color 0.5s ease-in-out,
	box-shadow 0.5s ease-in-out;
}

.btn__glow {
	animation: glowing 2500ms infinite;
}

.btn__size {
	min-width: 150px;
}

.btn__icon__size {
	height: 30px;
	width: 30px;
}

#bg__header {
	background-image: linear-gradient(#B520FD, #384BFA);
}

.nav__logo {
	min-height: 80px;
}

.nav__link__text {
	font-size: large;
	color: white !important;
}

.main{
	max-height: 700px;
}

.main__text {
	max-width: 300px;
}

.main__text__header{
	font-family: 'Metrophobic', sans-serif;
}

.main__text__body{
	font-family: 'Metrophobic', sans-serif;
}

.main__image {
	max-width: 170px;
}

.card__img__size {
	width: 286px;
	height: 286px;
	object-fit: contain;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card {
	width: 22rem !important;
}

.section__img {
	object-fit: contain;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.hej {
	max-width: 750px;
}

.img__contact__width {
	max-width: 250px;
}

.project__header__img {
	max-height: 600px;
	width: auto;
}

.project__img__size {
	width: auto;
	max-height: 400px;
}

.section__flex {
	flex: 1 1 0px;
}

.text__height {
	line-height: 1.8;
}

.footer__social__icon {
	height: 32px;
	width: 32px;
}

.footer__container {
	border-top: solid 4px #0060F9;
}

.footer__nav__text {
	font-size: medium;
}

@media only screen and (min-width: 768px) {

	.main__image{
		max-width: 250px;
	}

	.main__text {
		max-width: 400px;
	}

	.main__text__body{
		font-size: larger;
	}

	.card {
		width: 24rem !important;
	}

	.section__img {
		max-width: 530px;
	}

	.card__img__size {
		width: auto;
		height: 318px;
		object-fit: contain;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 992px) {

	.main__text {
		max-width: 500px;
	}

	.footer__contact {
		width: 300px;
	}

	.footer__social {
		width: 300px;
	}

	.footer__nav {
		width: 300px;
	}
}

@media only screen and (min-width: 1200px) {

	.main__image{
		max-width: 400px;
	}
}

@keyframes glowing {
	0% {
		background-color: #0060F9;
		box-shadow: 0 0 5px #0060F9;
	}
	50% {
		background-color: #384BFA;
		box-shadow: 0 0 25px #384BFA;
	}
	100% {
		background-color: #0060F9;
		box-shadow: 0 0 5px #0060F9;
	}
}
