* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: poppins, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: poppins, sans-serif;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
	font-family: poppins, sans-serif;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a{

	text-decoration: none;

}

#bg__header {
	background-image: linear-gradient(#B520FD, #384BFA);
}

.nav__logo {

	min-height: 80px;

}

.nav__link__text {

	font-size: large;
	color: white !important;

}

.footer__social__icon {

	height: 32px;
	width: 32px;

}

.footer__container {

	background-color: black;
	border-top: solid 4px #0060F9;

}

.footer__nav__text {

	font-size: medium;

}

@media only screen and (min-width: 992px) {

	.footer__contact {

		width: 200px;
	}

	.footer__social {

		width: 200px;
	}

	.footer__nav {

		width: 200px;
	}
}